#FOLLOW-ME {
    padding: 100px 0 20px;
    background: #001936;
    text-align: center;
}

.social-icon {
    color: white; 
    font-size: 80px;
    margin: 0 15px; 
    transition: 0.3s;
}

.social-icon:hover {
    color: #1c6f96;
    transform: rotate(360deg);
}

footer a {
    text-decoration: none;
    margin: 0 10px;
}