#home-page {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url('/photos/background.png');
    background-size: cover; 
    background-position: center;
}

.banner-text {
    color: white; 
    text-align: center; 
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.banner-text h1 {
    margin: 0; 
    padding: 0;
    font-size: 100px; 
}

.banner-logo {
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.banner-logo img {
    max-width: 200px; 
    height: auto; 
}

#waveCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .banner-text h1 { font-size: 50px; }
}