/* Global Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

.container {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: auto;
}

/* Base Title Styles used in multiple sections */
.title-text h1 {
    font-size: 55px;
    color: #107eb1;
    margin-bottom: 20px;
}